/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-boneblack-common.dtsi"

/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

&cpu0_opp_table {
	/*
	 * All PG 2.0 silicon may not support 1GHz but some of the early
	 * BeagleBone Blacks have PG 2.0 silicon which is guaranteed
	 * to support 1GHz OPP so enable it for PG 2.0 on this board.
	 */
	oppnitro-1000000000 {
		opp-supported-hw = <0x06 0x0100>;
	};
};

/ {
	hw3 {
		compatible = "matrix-keypad";
		row-gpios = <&gpio0 26 GPIO_ACTIVE_LOW
			&gpio0 27 GPIO_ACTIVE_LOW
			&gpio1 12 GPIO_ACTIVE_LOW
			&gpio1 13 GPIO_ACTIVE_LOW>;
		col-gpios = <&gpio1 14 GPIO_ACTIVE_LOW
			&gpio1 15 GPIO_ACTIVE_LOW
			&gpio1 17 GPIO_ACTIVE_LOW
			&gpio1 16 GPIO_ACTIVE_LOW>;
		debounce-delay-ms = <5>;
		col-scan-delay-us = <400>;
		
		wakeup-source;
	};
};
